.vscode
.gitconfig
.gitignore
.git-credentials

.vscode-server/data/User/History/59348e7f/e2oX
.vscode-server/data/User/History/59348e7f/entries.json
.vscode-server/data/User/History/59348e7f/GnBN
.vscode-server/data/User/History/59348e7f/O7HO
.vscode-server/data/User/History/59348e7f/onwl
.vscode-server/extensions/extensions.json
.viminfo

